{% extends '::base.html.twig' %}


{% if form is defined %}
	{% form_theme form _self %}
	
	{% block form_row %}
	{% spaceless %}
	    <div class="form-group">
	        {{ form_label(form, null, {'label_attr' : {'class' : 'col-lg-2 control-label'}}) }}
	        {{ form_errors(form) }}
	        <div class="col-lg-10">
	        	{{ form_widget(form, {'attr' : {'class' : 'form-control'}}) }}
	        </div>
	    </div>
	{% endspaceless %}
	{% endblock form_row %}
{% endif %}


{% block title %}
	{{ parent() }} - Site
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}


{% block body %}
	<ul>
		<li><a href="{{ path('admin_homepage') }}">Administration</a></li>
		{% for typeContenu in typesContenusList() %}
			<li><a href="{{ path('admin_contenus', { type : typeContenu.type }) }}">{{ typeContenu.type }}</a></li>
		{% endfor %}
	</ul>
	{% block contenu %}
	{% endblock %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}