<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block tags %}{% endblock %}">
        <title>{% block title %}Mystah-Craft{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
        {% endblock %}
        {% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<header>
    		<div id="header">
    			<div id="parchemin">
	    			<div id="headerbg-left-right">
			    		<div id="header-logo">
			    			<div id="img-logo">
				    			
				    			<div class="main">
								    <div id="auth">
								    	{% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
								    		<span id="login-name">Bonjour {{ app.user.username }}</span> <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
								    	{% else %}
								    		<a href="{{ path('fos_user_security_login') }}">Connexion</a>
								    	{% endif %}
								    </div>
				    			</div>
			    			</div>
			    		</div>
	    			</div>
	    		</div>
	    		<div id="parchemin-border">
	    		</div>
    		</div>
    		<menu>
    			<ul class="main">
    				<li><a href="{{ path('mystah_craft_site_homepage') }}">Accueil</a></li>
    				<li><a href="{{ path('mystah_craft_site_joueurs') }}">Joueurs</a></li>
    				<li><a href="{{ path('mystah_craft_site_histoire') }}">Histoire</a></li>
    				<li><a href="{{ path('mystah_craft_site_screen') }}">Screenshots</a></li>
    				<li><a href="{{ path('mystah_craft_site_liens') }}">Forum et Liens</a></li>
    			</ul>
    		</menu>
    	</header>
    	<div id="container">
    		<div id="content" class="main">
    			<div id="contenu">
	        		{% block body %}{% endblock %}
	        	</div>
	        </div>
        </div>
        <footer class="main">
        	<a href="{{ path('admin_homepage') }}">Administration</a>
        	<div id="copyright">
        		&copy; Copyright 2013 Mystah-Craft. Site réalisé par Jérémy Safont.
        	</div>
        </footer>
        {% block javascripts %}
		<script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
		<script src="{{ asset("js/jquery-ui-1.10.3.custom.js") }}"></script>        
        {% endblock %}
    </body>
</html>
