{% extends 'MystahCraftSiteBundle::layout.html.twig' %}

{% block title %}
	{{ parent() }} - Accueil
{% endblock %}

{% block body %}
	<div id ="rules-mystah">
		<div id ="adresse-ip">
			<strong>Adresse IP:</strong>  {{ ip }}
		</div>
		<div id="header-rules">
			<h2>{{ header_rules }}</h2>
		</div>
		<ul>
		{% for rule in rules %}
			<li class="rule">
				{{ rule.valeur|nl2br }}
			</li>
		{% endfor %}
		</ul>
		
		<div id="footer-rules">
			{{ footer_rules }}
		</div>
		
		<div id="sign-rules">
			{{ sign_rules }}
		</div>
	</div>
	<div id="index-content">
		<h1>Bienvenue sur Mystah-Craft !</h1>
		<h2>Vous êtes sur le point de découvrir le monde de Mystalia</h2>
	</div>
{% endblock %}
