{% extends 'MystahCraftSiteBundle::layout.html.twig' %}

{% block title %}
	{{ parent() }} - Accueil
{% endblock %}

{% block body %}
	<div id ="rules-mystah">
		<div id ="adresse IP">
			Adresse IP: {{ ip }}
		</div>
		<div id="header-rules">
			{{ header_rules }}
		</div>
		{% for rule in rules %}
			<div>
				{{ rule.valeur|nl2br }}
			</div>
		{% endfor %}
		
		<div id="footer-rules">
			{{ footer_rules }}
		</div>
		
		<div id="sign-rules">
			{{ sign_rules }}
		</div>
	</div>
	<div id="index-content">
		<h1>Bienvenue sur Mystah-Craft !</h1>
		<h2>Vous êtes sur le point de découvrir le monde de Mystalia</h2>
	</div>
{% endblock %}
