{% extends 'MystahCraftSiteBundle::layout.html.twig' %}

{% block title %}
	{{ parent() }} - Accueil
{% endblock %}

{% block description %}
	Mystahcraft est une communauté mettant à disposition un serveur Minecraft 100% survie, sans mod, sans plugin dans un univers médiéval.
	L'inscription est gratuite, les slots sont illimités !
	Vous êtes tous invités à nous rejoindre, à condition de respecter la bonne humeur qui règne depuis de nombreux mois. Notre
	communauté est petite, sans prétention, mais vous apprécierai la richesse de son univers !
{% endblock %}

{% block tags %}
	mystahcraft, serveur, minecraft, survie, gratuit, médiéval, français, 
{% endblock %}

{% block body %}
	<div id ="rules-mystah">
		<div id ="adresse-ip">
			<strong>Adresse IP:</strong>  {{ ip }}
		</div>
		<div id="header-rules">
			<h2>{{ header_rules }}</h2>
		</div>
		<ul>
		{% for rule in rules %}
			<li class="rule">
				{{ rule.valeur|nl2br }}
			</li>
		{% endfor %}
		</ul>
		
		<div id="footer-rules">
			{{ footer_rules }}
		</div>
		
		<div id="sign-rules">
			{{ sign_rules }}
		</div>
	</div>
	<div id="index-content">
		<h1>Bienvenue sur Mystah-Craft !</h1>
		<h2>Vous êtes sur le point de découvrir le monde de Mystalia</h2>
		<div id="articles-mystah">
			{% for article in articles %}
				<h2 id="{{ article.slug }}-title">{{ article.title }}</h2>
				<div id="{{ article.slug }}-content">{{ article.content }}</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
