{% extends 'MystahCraftSiteBundle::layout.html.twig' %}

{% block title %}
	{{ parent() }} - Accueil
{% endblock %}

{% block description %}
	Mystahcraft est une communauté mettant à disposition un serveur Minecraft 100% survie, sans mod, sans plugin dans un univers médiéval.
	L'inscription est gratuite, les slots sont illimités !
	Vous êtes tous invités à nous rejoindre, à condition de respecter la bonne humeur qui règne depuis de nombreux mois. Notre
	communauté est petite, sans prétention, mais vous apprécierai la richesse de son univers !
{% endblock %}

{% block tags %}
	mystahcraft, serveur, minecraft, survie, gratuit, médiéval, français, 
{% endblock %}

{% block body %}
	<section id ="rules-mystah">
		<div id ="adresse-ip">
			<strong>Adresse IP:</strong>  {{ ip }}
		</div>
		<div id="header-rules">
			<h2>{{ header_rules }}</h2>
		</div>
		<ul>
		{% for rule in rules %}
			<li class="rule">
				{{ rule.valeur|nl2br }}
			</li>
		{% endfor %}
		</ul>
		
		<div id="footer-rules">
			{{ footer_rules }}
		</div>
		
		<div id="sign-rules">
			{{ sign_rules }}
		</div>
	</section>
	<section id="index-content">
		<h1>Bienvenue sur Mystah-Craft !</h1>
		<h2>Vous êtes sur le point de découvrir le monde de Mystalia</h2>
		<div id="articles-mystah">
			{% for article in articles %}
				<div class="article">
					<div class="date-article">
						<p><b>Rédigé</b> le {{ article.datePubli | localizeddate('full', 'none') }}</p>
						{% if article.dateModif is not null %}
							<p><b>Modifié</b> le {{ article.dateModif | localizeddate('full', 'full') }}</p>
						{% endif %}
					</div>
					<h2 id="{{ article.slug }}-title">{{ article.title }}</h2>
					<div id="{{ article.slug }}-content">
						{{ article.apercu }}
						<a href="{{ path("mystah_craft_site_article", { slug : article.slug }) }}">Lire la suite</a>
						<div class="nb-commentaires">{{ nbCommentaires(article.slug) }}</div>
					</div>
				</div>
			{% endfor %}
			<div id="pagination">
				{% if page > 1 %}
					<div id="articles-recents"><a href="{{ path('mystah_craft_site_homepage', { 'page' : page - 1 }) }}">Articles plus récents</a></div>
				{% endif %}
				{% if nb_pages > page %}
					<div id="articles-anciens"><a href="{{ path('mystah_craft_site_homepage', { 'page' : page + 1 }) }}">Articles plus anciens</a></div>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
