{% extends 'MystahCraftAdminBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset("css/bootstrap.css") }}"> 
{% endblock %}

{% block title %}
	{{ parent() }} - Modifier {{ contenu.type.type }}{% if contenu.type.multiple %} n°{{ contenu.id }}{% endif %}
{% endblock %}

{% block contenu %}
	<h1>Modifier {{ contenu.type.type }}{% if contenu.type.multiple %} n°{{ contenu.id }}{% endif %}</h1>
	<form class="form-horizontal" method="post"{{ form_enctype(form) }}>
		{{ form_errors(form) }}
		{{ form_rest(form) }}
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<input type="submit" class="btn btn-default" />
			</div>
		</div>
	</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset("niceforms/niceforms.js") }}"></script>
{% endblock %}
